<title>Extra</title>
{%extends "layout.html"%}
{% block content %}

<style>

img{
    border-radius:10px 10px 0px 0px;

}
.mainimg{
     width:400px;
    height:400px;
}
</style>

<div class="boxlayout">
    <div class="mainbox">
        <img class="mainimg" src="{{ url_for('static', filename='a.webp') }}" alt="my icon">
        <ab>this is for all extra stuff</ab>
    </div>
    <div class="mainbox">
        <img src="{{ url_for('static', filename='timer.webp') }}" alt="thissite">
        <a class="myButton" href="{{url_for('timer')}}">Timer</a>
    </div>
    <div class="mainbox">
        <img src="{{ url_for('static', filename='snakegame.webp') }}" alt="snakegame">
        <a class="myButton" href="{{url_for('snakegame')}}">Snake Game</a>
    </div>
   
</div>

{%endblock%}