<title>Projects</title>
{%extends "layout.html"%}
{% block content %}

<style>

img{
    border-radius:10px 10px 0px 0px;
   
}
.mainimg{
     width:400px;
    height:400px;
}
</style>

<div class="boxlayout">
    <div class="mainbox">
        <img class="mainimg" src="{{ url_for('static', filename='a.webp') }}" alt="my icon">
        <ab>this is my project link page. If there is 2 links, the 1st is the implemented thing, the second is the github</ab>
    </div>
    <div class="mainbox">
        <img src="{{ url_for('static', filename='this_site.webp') }}" alt="thissite">
        <a class="myButton" href="https://github.com/pravda-cancri/my-site"target="_blank">This website</a>
    </div>
    <div class="mainbox">
        <img src="{{ url_for('static', filename='obsall.png') }}" alt="obsall">
        <a class="myButton" href="https://github.com/pravda-cancri/School-work-objectives"target="_blank">OBS All</a>
    </div>
    <div class="mainbox">
        <img src="{{ url_for('static', filename='obsall.png') }}" alt="obsold">
        <a class="myButton" href="https://github.com/pravda-cancri/School-work-objectives"target="_blank">old version of obs all</a>
    </div>
    <div class="mainbox">
        <img src="{{ url_for('static', filename='snakegame.png') }}" alt="snake game">
        <a class="myButtonmid" href="{{url_for('snakegame')}}">snake game</a>
        <a class="myButton" href="https://github.com/pravda-cancri/snake-game-alpha"target="_blank">snake game alpha</a>
    </div>
    
</div>

{%endblock%}